header {
    background-color: white;
}
.menu {
    list-style: none;
    padding-inline-start: 0;
    background-color: red;
}
.menuItem > a {
    text-decoration: none;
    color: white;
}
.menuItem {
    padding: 10px 10px;
}

/* Pour les grands écrans */
@media screen and (min-width: 940px) {
    .menuItem {
        display: table-cell;
        padding: 10px 20px;
    }
    /* .menuItem > a {
        color:#c4e9f5;
    } */
}