.flex-container {
    display: flex;
}
.flex-item, .item {
    list-style-type: none;
}
.flex-item a, .item a {
    display: block;
    border: 1px solid #625b48;
    padding: 5px 15px;
    text-decoration: none;
    color: #e1ce9a;
    text-align: center;
    background-color: #ae8964;
}
.flex-item a:hover, .item a:hover {
    color: #ae8964;
    background-color: #e1ce9a;
}


.flex-container-2 {
    display: inline-flex;
}